/* IMPORTS */
@import url('colors.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
  margin: 0;
}

.landing {
    /* width: 1280px;
    height: 3547px; */
    margin-left: 6.8%;
    background-color: var(--Secundario-Blanco);

  }

  .nav {
      height: auto;
      margin-top: 27px;
      display: flex;
      justify-content: space-between;
  }

  .Logo {
    width: 77px;
    height: 30px;
    object-fit: contain;
    
  }

  .Rectangle {
    width: 159px;
    height: 39px;
    border-radius: 6px;
    border: solid 1px var(--Principal-coral);
    display: flex;
    margin-right: 6.8%;
  }

  .Contactanos {
    width: 159px;
    height: 20px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: var(--Principal-coral);
    margin: 0;
    justify-content: center;
    align-self: center;
  }

#contactanos {
    text-decoration: none;
}

  
  .title {
        margin-top: 22px;
        height: 570px;
        display: flex;
        justify-content: space-between;
  }

  .banner {
    width: 721px;
    height: 570px;
    object-fit: contain;
    margin-left: auto;
  }

  .Te-ayudamos-a-potenc {
    padding-top: 90px;
    width: 439px;
    height: 228px;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: var(--Principal-azul);

    margin: 0;
  }

  .Somos-un-servicio-in {
    width: 413px;
    height: 86px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--Principal-azul);
    margin: 0;
  }

  .cards-section {
    margin-right: 6.8%;
    margin-top: 30px;
      height: 665px ;
      display: grid;
      grid-template-rows: 262px 403px;
      position: relative;

  }


  .subtitle {
      justify-self: center;
  }
  .Convertimos-marcas-e {
  width: 641px;
  height: 90px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: var(--Principal-azul);
  margin: auto;
}

.Somos-la-respuesta-t {
    width: 555px;
    height: 53px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: var(--Principal-azul);
    margin: auto;
    padding-top: 27px;
  }


  
.cards {

    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 3.1%;
}

.card {
  
    padding-left: 28px;
    padding-top: 30px;
    width: auto;
    height: 264px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--Secundario-Blanco);
  }



  .icon {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }


  .card-title {
    margin-top: 12.2%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    width: 283px;
    height: 32px;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--Principal-azul);
  }

  .card-body {
    margin-top: 6.5%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    width: 272px;
    height: 48px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--Principal-Gris);
  }

  .card-btn {
    margin-top: 7.1%;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    width: 272px;
    height: 40px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: var(--Principal-coral);
  }
  /* .bg {
    width: 1280px;
    height: 403px;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 0;
  } */

  .portfolio {
    margin-right: 6.8%;
      height: 1026px ;
      position: relative;
  }

  .Confan-en-nosotros {
    height: 32px;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: var(--Principal-azul);
    text-align: center;
    margin-top: 62px;
    margin-bottom: 57px;
  }

  .Logo-company {
    width: 150px;
    height: 30px;
    object-fit: contain;

  }

  .logos {
    margin-left: 6.6%;
    margin-right: 6.6%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 6%;
  }

.portfolio-body{
    margin-top: 185px;
    display: grid;
    grid-template-columns: 375px 811px  ;
}



.Conoc-algunos-de-nu {
    width: 375px;
    height: 90px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: var(--Principal-azul);
    margin: 0;
  }

  .Somos-un-servicio-in-Copy {
    width: 382px;
    height: 86px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: var(--Principal-azul);
    margin-top: 30px;
  }


  .Path {
    width: 533px;
    height: 709px;
    object-fit: contain;
    position: absolute;
    right: 0px;
    top: 150px;
  }

  .testimonios {
      height: 382px;
      background-color: yellow;
  }

  .formulario {
      height: 752px;
      background-color: black;
  }

  .footer {
      height: 64px;
      background-color: orange;
  }